.ar-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 10; 
    overflow: hidden;
}

.ar-container a-scene,
.ar-container .a-canvas {
    width: 100% !important; 
    height: 100% !important; 
    display: block !important;
}

ion-content {
    --background: transparent;
    &::part(scroll) {
        height: 100%;
        overflow: hidden;
    }
}